# Eat Safe, Love

## Notebook Set Up

In [3]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

ModuleNotFoundError: No module named 'pymongo'

In [ ]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [ ]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [ ]:
# review the collections in our database
print(db.list_collection_names())

In [ ]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question:
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [ ]:
# Find the establishments with a hygiene score of 20
hygiene_20_query = {"scores.Hygiene": 20}

# Use count_documents to display the number of documents in the result
hygiene_20_count = establishments.count_documents(hygiene_20_query)
print(f"Number of establishments with a hygiene score of 20: {hygiene_20_count}")

# Display the first document in the results using pprint
print("First document:")
pprint(establishments.find_one(hygiene_20_query))

In [ ]:
# Convert the result to a Pandas DataFrame
hygiene_20_results = list(establishments.find(hygiene_20_query))
hygiene_20_df = pd.DataFrame(hygiene_20_results)

# Display the number of rows in the DataFrame
print(f"Number of rows: {len(hygiene_20_df)}")

# Display the first 10 rows of the DataFrame
hygiene_20_df.head(10)

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [ ]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
london_rating_query = {"LocalAuthorityName": {"$regex": "London"},
                       "RatingValue": {"$gte": 4}}

# Use count_documents to display the number of documents in the result
london_rating_count = establishments.count_documents(london_rating_query)
print(f"Number of London establishments rated 4 or greater: {london_rating_count}")

# Display the first document in the results using pprint
print("First document:")
pprint(establishments.find_one(london_rating_query))

In [4]:
# Convert the result to a Pandas DataFrame
london_rating_results = list(establishments.find(london_rating_query))
london_rating_df = pd.DataFrame(london_rating_results)

# Display the number of rows in the DataFrame
print(f"Number of rows: {len(london_rating_df)}")

# Display the first 10 rows of the DataFrame
london_rating_df.head(10)

NameError: name 'establishments' is not defined

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [5]:
degree_search = 0.01
latitude = 51.5074  # Example latitude
longitude = -0.1278  # Example longitude

query = {
    'geocode.latitude': {'$gte': latitude - degree_search, '$lte': latitude + degree_search},
    'geocode.longitude': {'$gte': longitude - degree_search, '$lte': longitude + degree_search},
    'RatingValue': 5
}

sort = [('scores.Hygiene', 1)]
limit = 10

results = list(establishments.find(query).sort(sort).limit(limit))
for res in results:
    print(res)

NameError: name 'establishments' is not defined

In [ ]:
# Convert result to Pandas DataFrame
best_near_penang_df = pd.DataFrame(best_near_penang_results)
best_near_penang_df

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
pipeline = [
    {'$match': {'scores.Hygiene': 0}},
    {'$group': {'_id': '$LocalAuthorityName', 'count': {'$sum': 1}}},
    {'$sort': {'count': -1}}
]

results = list(establishments.aggregate(pipeline))
print(f'Total Documents: {len(results)}')
print(results[:10])

In [ ]:
# Convert the result to a Pandas DataFrame
hygiene_0_df = pd.DataFrame(hygiene_0_results)

# Display the number of rows in the DataFrame
print(f"Number of rows: {len(hygiene_0_df)}")

# Display the first 10 rows of the DataFrame
hygiene_0_df.head(10)